
body {
    background-image: url('images/garage3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.cars-background {
    background-image: url('images/occasion.jpg');
    background-size: 100% 100%; /* Ajustez la propriété en fonction de vos besoins */
}

header {
    background:  rgba(0, 0, 0, 0.7);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.7);
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.logo img {
    max-width: 200px;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-content: center;
}

nav ul li a {
    margin-right: 20px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}


/* Styles pour le texte du menu au survol (changement de couleur au survol) */
nav ul li a:hover {
    color: red; /* Couleur du texte au survol */
}


.login a {
    color: white;
    text-decoration: none;
}

/* Styles pour le menu déroulant */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.services-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80vh;
    
}


.services {
    display: flex;
    flex-direction: row; /* Mode paysage - enfants alignés horizontalement */
    flex-wrap: wrap; /* Les enfants peuvent passer à la ligne si l'espace est insuffisant */
    align-items: stretch; /* Les enfants s'étireront pour occuper toute la hauteur */
    padding: 20px;
    margin-bottom: 10%;
    margin-top: -10%;
    margin-left: 2%;
    color: #fff;
    font-size: 20px;
    background-color: rgba(255, 0, 0, 0.4);
}

.service {
    width: calc(33.33% - 20px); /* Pour créer 3 colonnes avec un espace de 20px entre elles */
    margin-bottom: 20px;
    text-align: start;
    margin-left: 20px; /* Espacement entre les blocs "service" */
    margin-right: 20px; /* Espacement entre les blocs "service" */
}





h2 {
margin-left: 14%;
width: 15%;
color: #fff;
font-size: 30px;

}

.service img {
    max-width: 100%;
}

.testimonial-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -15%;
    background-color: rgba(0, 0, 0, 0.6);

}

.testimonials {
    width: 300px; /* Largeur du conteneur des commentaires */
    overflow: hidden;
    white-space: nowrap; /* Empêche le retour à la ligne */

}

.testimonial {
    width: 300px; /* Largeur d'un témoignage */
    padding: 10px;
    margin-right: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    text-align: center;
    display: none;

}

.controls {
    margin-top: 10px;
    text-align: center;
}

#prev-btn,
#next-btn {
    padding: 5px 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

#prev-btn:hover,
#next-btn:hover {
    background-color: #555;
}



/* Styles pour les horaires d'ouverture dans le pied de page */
footer {
    display: flex;
    flex-direction: row;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px 0;
    text-align: center; 
    bottom: 0 ;
    height: 25vh;
    margin-top: 30vh;
    box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.7);
  
    
}


.opening-hours {

width: 30%;
color: #fff;
font-size: 20px;
}

.contact {

width: 30%;
color: #fff;
font-size: 20px;

}


.filters{

color:#fff


}

/* Ajoutez ici d'autres styles pour le reste de votre contenu. */

/* 
div, aside, p, section, img, ul, nav, li, main, h1, h2, h3, .social-column, .social-container, .sport-info, .container-main-sidebar, header, .logo, .presentation, .video-container 
    .content{
    border-color: red;
    border-style: solid;
    border-width: 2px;

    } */