/* Styles pour l'en-tête */
header {
    background-color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 200px;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-content: center;
}

nav ul li a {
    margin-right: 20px;
    color: black;
    font-size: 16px;
    font-weight: bold;
}


/* Styles pour le texte du menu au survol (changement de couleur au survol) */
nav ul li a:hover {
    color: red; /* Couleur du texte au survol */
}


.login a {
    color: black;
    text-decoration: none;
}

/* Styles pour la section des services */
.services {
    padding: 20px;
    margin-bottom: 10%;
}



.service {
    margin-bottom: 20px;
    text-align:start;
    margin-left: 2%;
    margin-right: 5%;
}

.services-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Si vous souhaitez également les espacer horizontalement */
    height: 60vh;

}

h2 {
margin-left: 20%;

}

.service img {
    max-width: 100%;
}

.testimonial-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials {
    width: 300px; /* Largeur du conteneur des commentaires */
    overflow: hidden;
    white-space: nowrap; /* Empêche le retour à la ligne */
}

.testimonial {
    width: 300px; /* Largeur d'un témoignage */
    padding: 10px;
    margin-right: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    text-align: center;
}

.controls {
    margin-top: 10px;
    text-align: center;
}

#prev-btn,
#next-btn {
    padding: 5px 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

#prev-btn:hover,
#next-btn:hover {
    background-color: #555;
}



/* Styles pour les horaires d'ouverture dans le pied de page */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center; 
    bottom: 0 ;

}

/* Ajoutez ici d'autres styles pour le reste de votre contenu. */


div, aside, p, section, img, ul, nav, li, main, h1, h2, h3, .social-column, .social-container, .sport-info, .container-main-sidebar, header, .logo, .presentation, .video-container 
    .content{
    border-color: red;
    border-style: solid;
    border-width: 2px;

    }